	@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

	header {
	  background-color: #5fb3b3; 
	  background-position: center top;
	  background-repeat: no-repeat;
	  background-size: cover;
	  line-height: 1.2;
	  padding: 10vw 2em;
	  text-align: center;
	}

	header h1 {
	  color: white;
	  font-size: 2.5em;
	  font-weight: 300;
	}

	header a {
	  border: 1px solid #e81c4f;
	  border-radius: 290486px;
	  color: white;
	  font-size: 0.6em;
	  letter-spacing: 0.2em;
	  padding: 1em 2em;
	  text-transform: uppercase;
	  text-decoration: none;
	  transition: none 200ms ease-out;
	  transition-property: color, background;
	}

	header a:hover {
	  background:  #f44336;
	  color: white;
	}

	body {
	  margin: 0 auto;
	  margin-bottom: 50px;
	  font-family: "Helvetica", "Arial", sans-serif;
	  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	  color: #566b78;
	}

	.main {
		margin: 0 auto;
		margin-top: 50px;
		max-width: 40em;
	}

	h2 {
	  margin-top: 1em;
	  padding-top: 1em;
	}

	h1,
	h2,
	strong {
	  color: #333;
	}

	a {
	  color: #e81c4f;
	  text-decoration: none;
	}

	input[type=text], 
	input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
input[type=text]:focus, 
input[type=date]:focus,
input[type=datetime]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=email]:focus,
textarea:focus, 
select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}